<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <img src="{{ `images/feat1.png` | relURL }}" width="200em"/>
        <p></p>
        <h2 class="h2">Destination Voting</h2>
        <p>A feature that enables group members to democratically vote on proposed destinations, ensuring that the final choice reflects the group's collective preference.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feat2.png` | relURL }}" width="200em"/>
        <p></p>
        <h2 class="h2">Group Expense Tracking</h2>
        <p>A tool for logging, categorizing, and tracking all trip-related expenses in real time, facilitating transparent and fair budget management among group members.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ `images/feat3.png` | relURL }}" width="200em"/>
        <p></p>
        <h2 class="h2">Personalized Activities</h2>
        <p>An AI-based system that suggests experiences tailored to the individual interests, enhancing the overall trip enjoyment with personalized activities.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Availability Coordinator</h2>
        <p>A shared calendar feature that allows group members to mark their available dates for travel, simplifying the process of finding a mutually convenient time for the trip.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Access On the Go</h2>
        <p>Provides travelers with real-time access to the trip's finalized itinerary from their mobile devices, keeping everyone informed and prepared while on the go.</p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Safety Hub <small class="d-none">🧰</small></h2>
        <p>A centralized source of emergency information and contacts for the group's destination, offering peace of mind with quick access to vital safety resources.</p>
    </div>
</div>
